<template>
  <div>
    <Row justify="end" align="middle">
    <Col class="add-producer">
      <producer-modal
        :producerId="producerId"
        @removeId="() => (producerId = '')"
        @newProducer="addNewProducer($event)"
        @updatedProducer="updateProducer($event)"
      ></producer-modal>
    </Col>
    </Row>

    <Row class="flex">
      <Col
        :xs="24"
        :sm="12"
        :md="8"
        :lg="6"
        v-for="(producer, index) in producers"
        :key="index"
      >
        <card-view @edit="edit(producer.id)" @remove="remove(producer.id)">
          <h3 slot="name" class="center-text">
            {{ producer.name }}
          </h3>

          <template v-slot:formdetails>
          <span slot="gender">
            {{ producer.gender }}
          </span>
          <span slot="dateOfBirth" class="button-right">
            {{ producer.dateOfBirth.split("T")[0] }}</span
          >
          <div slot="bio" class="middle-pad">{{ producer.bio }}</div>
          </template>
        </card-view>
      </Col>
    </Row>
  </div>
</template>
<script>
import ProducerModal from "./Main";
import CardView from "../../components/CardView.vue";
import { ProducerApiService } from "./apiService/ApiService.js";
import { MovieApiService } from "../movie/apiService/ApiService";

const producerApiService = new ProducerApiService();
const movieApiService = new MovieApiService();

export default {
  name: "Producers",
  data() {
    return {
      producers: [],
      producerId: "",
      isProducing: false,
      movies: [],
    };
  },
  components: {
    ProducerModal,
    CardView,
  },
  methods: {
    edit(id) {
      this.producerId = id;
      console.log(this.producerId);
    },
    addNewProducer(data) {
      this.producers.push(data);
    },
    updateProducer(updatedProducer) {
      let producer = this.producers.find(
        (producer) => producer.id === updatedProducer.id
      );
      producer.name = updatedProducer.name;
      producer.dateOfBirth = updatedProducer.dateOfBirth;
      producer.gender = updatedProducer.gender;
      producer.bio = updatedProducer.bio;
    },
    remove(id) {
      this.$Modal.confirm({
        title: "Delete",
        content: "<p>Are you sure you want to delete this producer?</p>",
        onOk: () => {
          console.log(this.movies);
          this.movies.forEach((movie) => {
            console.log(movie);
            if (movie.producer.id == id) {
              this.isProducing = true;
            }
          });
          if (this.isProducing == true) {
            this.$Message.info(
              "Producer can't be deleted as he is already associated with a movie"
            );
          } else {
            this.producers.splice(
              this.producers.findIndex((producer) => producer.id === id),1);
            producerApiService.delete(id);
            this.$Message.info("Prdoucer Successfully Deleted");
          }
          this.isProducing = false;
        },
        onCancel: () => {
          this.$Message.info("Clicked cancel");
        },
      });
    },
  },
  async created() {
    try{
     let producers=await producerApiService.getAll();
     this.producers=producers;
    }
    catch{
      this.$message.error = "Failed to fetch producers";
    }
     try{
       let movies=await movieApiService.getAll();
     this.movies=movies;
     }
     catch{
       this.$message.error = "Failed to fetch movies";
     }
  },
};
</script>
<style scoped>
.flex {
  display: flex;
}
.button-right {
  float: right;
}
.card {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.center-text {
  text-align: center;
  margin-top:10px;
}
.center-text-bold {
  text-align: center;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.middle-pad
{
  text-align: center;
  margin-top:30px;
}
.add-producer
{
  margin: 10px;
  margin-top:36px;
  padding-right:20px;
}
</style>
