<template>
  <div>
    <Button type="primary" icon="md-add" @click="openModal = true" long>Add</Button>
    <modal-component
      :title="title"
      @submitData="handleSubmit()"
      @closeModal="closeModal()"
      :isModalOpen="openModal"
    >
      <template v-slot:form>
        <Form ref="producer" :model="producer" :rules="ruleValidate">
          <FormItem label="Producer" prop="name">
            <Input
              v-model="producer.name"
              placeholder="Enter the name of producer"
              clearable
            ></Input>
          </FormItem>
          <FormItem required label="DateOfBirth">
            <Row>
              <Col span="11">
                <FormItem prop="dateOfBirth">
                  <DatePicker
                    type="date"
                    placeholder="Select date"
                    v-model="producer.dateOfBirth"
                  ></DatePicker>
                </FormItem>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="Gender" prop="gender">
            <RadioGroup v-model="producer.gender">
              <Radio label="Male  "></Radio>
              <Radio label="Female"></Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="Bio" prop="bio">
            <Input
              v-model="producer.bio"
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 5 }"
              placeholder="Enter something..."
              clearable
            ></Input>
          </FormItem>
        </Form>
      </template>
    </modal-component>
  </div>
</template>
<script>
import { ProducerApiService } from "./apiService/ApiService";
import ModalComponent from "../../components/Modal";
let producerApiService = new ProducerApiService();
export default {
  name: "ProducerModal",
  data() {
    return {
      producer: {
        name: "",
        gender: "Male  ",
        dateOfBirth: "",
        bio: "",
      },
      title: "Add Producer",
      openModal: false,
      loading: true,
      ruleValidate: {
        name: [
          {
            required: true,
            message: "The name cannot be empty",
            trigger: "blur",
          },
        ],
        gender: [
          {
            required: true,
            message: "Please select gender",
            trigger: "change",
          },
        ],
        dateOfBirth: [
          {
            required: true,
            type: "date",
            message: "Please select date of birth",
            trigger: "change",
          },
        ],
        bio: [
          {
            required: true,
            message: "Please enter the bio of producer",
            trigger: "blur",
          },
          {
            type: "string",
            min: 1,
            message: "Introduce no less than 1 word",
            trigger: "blur",
          },
        ],
      },
    };
  },
  props: ["producerId"],
  watch: {
    async producerId(newId) {
      if (newId) {
        this.title = "Update Producer";
        await this.getById(newId);
      } else {
        this.title = "Add Producer";
      }
    },
  },
  components: {
    "modal-component": ModalComponent,
  },
  methods: {
    async addProducer() {
      let producer = await producerApiService.add(this.producer);
      console.log(producer);
      this.$emit("newProducer", producer);
    },
    async updateProducer(id, updatedProducer) {
      await producerApiService.update(id, updatedProducer);
      let producer = await producerApiService.getById(id);
      console.log(producer);
      this.$emit("updatedProducer", producer);
    },
    async getById(newId) {
      let producer = await producerApiService.getById(newId);
      console.log(producer);
      this.producer.name = producer.name;
      this.producer.dateOfBirth = producer.dateOfBirth;
      this.producer.gender = producer.gender;
      this.producer.bio = producer.bio;
      this.openModal = true;
    },
  closeModal() {
    this.$emit("removeId");
    this.openModal = false;
    this.$refs["producer"].resetFields();
  },
  handleSubmit() {
    let _this = this;
    this.$refs["producer"].validate(async (valid) => {
      if (valid) {
        if (this.producerId) {
          await _this.updateProducer(this.producerId, this.producer);
        } else {
          await _this.addProducer();
        }
        this.$emit("removeId");
        this.$refs["producer"].resetFields();
        this.openModal = false;
        this.$Message.success("Success!");
      } else {
        this.openModal = true;
        this.$Message.error("Fail!");
      }
    });
  },
  },
};
</script>
