<template>
  <div>
    <Row justify="end" align="middle">
      <Input prefix="ios-search"  placeholder="Search by name" style="width: auto" class="align-search" v-model="searchQuery" clearable />
      <actor-modal
      class="add-actor"
        :actorId="actorId"
        @removeId="() => (actorId = '')"
        @newActor="addNewActor($event)"
        @updatedActor="updateActor($event)"
      ></actor-modal>
    </Row>

    <Row class="flex">
      <Col
        :xs="24"
        :sm="12"
        :md="8"
        :lg="6"
        v-for="(actor, index) in actors"
        :key="index"
      >
        <card-view @edit="edit(actor.id)" @remove="remove(actor.id)">
          <h3 slot="name" class="center-text">{{ actor.name }}</h3>

          <template v-slot:formdetails>
          <span>
            {{ actor.gender }}
          </span>
          <span class="button-right">
            {{ actor.dateOfBirth.split("T")[0] }}
          </span>
          <div class="middle-pad">
            {{ actor.bio }}
          </div>
          </template>
        </card-view>
      </Col>
    </Row>
  </div>
</template>
<script>
import ActorModal from "./Main";
import { ActorApiService } from "../actor/apiService/ApiService";
import { MovieApiService } from "../movie/apiService/ApiService";
import CardView from "../../components/CardView.vue";
const actorApiService = new ActorApiService();
const movieApiService = new MovieApiService();
export default {
  name: "Actors",
  data() {
    return {
      actors: [],
      actorId: "",
      searchQuery: "",
      isActing: false,
      movies: [],
    };
  },
  components: {
    ActorModal,
    CardView,
  },
  watch: {
    async searchQuery(newName) {
      await this.getByName(newName);
    },
  },

  methods: {
    edit(id) {
      this.actorId = id;
    },
    addNewActor(data) {
      this.actors.push(data);
    },
    updateActor(updatedActor) {
      let actor = this.actors.find((act) => act.id === updatedActor.id);
      actor.name = updatedActor.name;
      actor.dateOfBirth = updatedActor.dateOfBirth;
      actor.gender = updatedActor.gender;
      actor.bio = updatedActor.bio;
    },
    async getByName(name) {
      let actors = await actorApiService.getByName(name);
      console.log(actors);
      this.actors = actors;
    },
    remove(id) {
      this.$Modal.confirm({
        title: "Delete",
        content: "<p>Are you sure you want to delete this actor?</p>",
        onOk: () => {
          this.movies.forEach((movie) => {
            for (let i = 0; i < movie.actors.length; i++) {
              if (movie.actors[i].id == id) {
                this.isActing = true;
              }
            }
          });
          if (this.isActing == true) {
            this.$Message.info(
              "Actor can't be deleted as it is already associated with a movie"
            );
          } else {
            this.actors.splice(
              this.actors.findIndex((actor) => actor.id === id),1);
            actorApiService.delete(id);
            this.$Message.info("Actor Successfully Deleted");
          }
          this.isActing = false;
        },
        onCancel: () => {
          this.$Message.info("Clicked cancel");
        },
      });
    },
  },
  async created() {
    try{
     let actors=await actorApiService.getAll();
     this.actors=actors;
    }
    catch{
      this.$message.error = "Failed to fetch actors";
    }
     try{
       let movies=await movieApiService.getAll();
     this.movies=movies;
     }
     catch{
       this.$message.error = "Failed to fetch movies";
     }
  },
};
</script>
<style scoped>
.flex {
  display: flex;
}
.button-right {
  float: right;
}
.card {
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  height: 250px;
}
.center-text-bold {
  text-align: center;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.middle-pad
{
  text-align: center;
  margin-top:30px;
}
.add-actor
{
  margin: 10px;
  margin-top:36px;
  padding-right:20px;
}
.align-search
{
  margin-top:25px;
}
.center-text {
  text-align: center;
  margin-top:10px;
}
.min-width
{
  width:30px;
}
</style>
