<template>
  <span>
    <Button type="primary"  icon="md-add" @click="openModal = true" long>Add</Button>
    <modal-component
      :title="title"
      @submitData="handleSubmit()"
      @closeModal="closeModal()"
      :isModalOpen="openModal"
      :loading="loading"
      :disabled="disable"
    >
      <template v-slot:form>
        <Form ref="actor" :model="actor" :rules="ruleValidate">
          <FormItem label="Name" prop="name">
            <Input
              v-model="actor.name"
              placeholder="Enter the name of actor"
              clearable
            ></Input>
          </FormItem>
          <FormItem required label="Date of Birth" >
            <Row>
              <Col span="11">
                <FormItem prop="dateOfBirth">
                  <DatePicker
                    type="date"
                    placeholder="Select date"
                    v-model="actor.dateOfBirth"
                  ></DatePicker>
                </FormItem>
              </Col>
            </Row>
          </FormItem>
          <FormItem label="Gender" prop="gender">
            <RadioGroup v-model="actor.gender">
              <Radio label="Male  "></Radio>
              <Radio label="Female"></Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="Bio" prop="bio">
            <Input
              v-model="actor.bio"
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 5 }"
              placeholder="Enter something..."
              clearable
            ></Input>
          </FormItem>
        </Form>
      </template>
    </modal-component>
  </span>
</template>
<script>
import { ActorApiService } from "./apiService/ApiService";
import ModalComponent from "../../components/Modal";
let actorApiService = new ActorApiService();
export default {
  name: "ActorModal",
  data() {
    return {
      actor: {
        name: "",
        gender: "Male  ",
        dateOfBirth: "",
        bio: "",
      },
      title:'Add Actor',
      openModal: false,
      loading: false,
      disable:false,
      ruleValidate: {
        name: [
          {
            required: true,
            message: "The name cannot be empty",
            trigger: "blur",
          },
        ],
        dateOfBirth: [
          {
            required: true,
            type: "date",
            message: "Please select date of birth",
            trigger: "change",
          },
        ],
        gender: [
          {
            required: true,
            message: "Please select gender",
            trigger: "change",
          },
        ],
        bio: [
          {
            required: true,
            message: "Please enter the bio of actor",
            trigger: "blur",
          },
          {
            type: "string",
            min: 1,
            message: "Introduce no less than 1 word",
            trigger: "blur",
          },
        ],
      },
    };
  },
  props: ["actorId"],
  watch: {
    async actorId(newId) {
      console.log(newId);
      if (newId) {
        this.title="Update Actor"
        await this.getById(newId);
      }
      else{
        this.title="Add Actor"
      }
    },
  },
  components: {
    "modal-component": ModalComponent,
  },
  methods: {
    async addActor() {
      let actor = await actorApiService.add(this.actor);
      console.log(actor);
      this.$emit("newActor", actor);
    },
    async updateActor(id, updatedActor) {
      await actorApiService.update(id, updatedActor);
      let actor=await actorApiService.getById(id);
      console.log(actor);
      this.$emit("updatedActor",actor);
    },
    async getById(newId) {
      let actor = await actorApiService.getById(newId);
      this.actor.name = actor.name;
      this.actor.dateOfBirth = actor.dateOfBirth;
      this.actor.gender = actor.gender;
      this.actor.bio = actor.bio;
      this.openModal = true;
    },
    closeModal() {
       this.$emit("removeId");
      this.openModal = false;
      this.$refs["actor"].resetFields();
    },

    handleSubmit() {
      let _this = this;
      this.$refs["actor"].validate(async (valid) => {
        this.disable=true;
        this.loading=true;
        if (valid) {
          if (this.actorId) {
            await _this.updateActor(this.actorId, this.actor);
          } else {
          await _this.addActor();
          }
          this.$emit("removeId");
          this.$refs["actor"].resetFields();
          this.openModal = false;
          this.$Message.success("Success!");
        } else {
          this.openModal = true;
          this.$Message.error("Fail!");
        }
        this.loading=false;
        this.disable=false;
      }
      );
    },
  },
};
</script>
