<template>
  <div>
    <Row justify="end">
      <Col class="add-genre">
        <genre-modal
          :genreId="genreId"
          @removeId="() => (genreId = '')"
          @newGenre="addNewGenre($event)"
          @updatedGenre="updateGenre($event)"
        ></genre-modal>
      </Col>
    </Row>

    <Row type="flex" justify="center">
      <Col :sm="4" :md="4" :lg="4"></Col>
      <Col :xs="24" :sm="16" :md="16" :lg="16">
        <Table border :columns="columns" :data="genres">
          <template slot-scope="{ index }" slot="action">
            <Icon
              type="md-create"
              size="24"
              class="space-edit"
              @click="update(genres[index].id)"
            >
            </Icon>
            <Icon
              type="ios-trash-outline"
              size="24"
              class="space-delete"
              @click="remove(genres[index].id)"
            ></Icon>
          </template>
        </Table>
      </Col>
      <Col :sm="4" :md="4" :lg="4"></Col>
    </Row>
  </div>
</template>
<script>
import GenreModal from "./Main";
import { GenreApiService } from "../genre/apiService/ApiService";
import { MovieApiService } from "../movie/apiService/ApiService";
const genreApiService = new GenreApiService();
const movieApiService = new MovieApiService();
export default {
  name: "Genres",
  data() {
    return {
      columns: [
        {
          title: "Type",
          key: "type",
          align: "center",
        },
        {
          title: "Action",
          slot: "action",
          align: "center",
        },
      ],
      genres: [],
      movies: [],
      genreId: "",
      isPartOf: false,
    };
  },
  components: {
    GenreModal,
  },
  async created() {
    try{
     let genres=await genreApiService.getAll();
     this.genres=genres;
    }
    catch{
      this.$message.error = "Failed to fetch genres";
    }
     try{
       let movies=await movieApiService.getAll();
     this.movies=movies;
     }
     catch{
       this.$message.error = "Failed to fetch movies";
     }
  },
  methods: {
    update(id) {
      this.genreId = id;
    },
    remove(id) {
      this.$Modal.confirm({
        title: "Delete",
        content: "<p>Are you sure you want to delete this genre?</p>",
        onOk: () => {
          this.movies.forEach((movie) => {
            for (let i = 0; i < movie.genres.length; i++) {
              if (movie.genres[i].id == id) {
                this.isPartOf = true;
              }
            }
          });
          if (this.isPartOf == true) {
            this.$Message.info(
              "Genre can't be deleted as it is already associated with a movie"
            );
          } else {
            this.genres.splice(
              this.genres.findIndex((genre) => genre.id === id),1);
            genreApiService.delete(id);
            this.$Message.info("Genre Successfully Deleted");
          }
          this.isPartOf = false;
        },
        onCancel: () => {
          this.$Message.info("Clicked cancel");
        },
      });
    },
    addNewGenre(data) {
      this.genres.push(data);
    },
    updateGenre(updatedGenre) {
      let genre = this.genres.find((genre) => genre.id === updatedGenre.id);
      genre.type = updatedGenre.type;
    },
  },
};
</script>
<style scoped>
.flex {
  display: flex;
}
.button-right {
  float: right;
}
.card {
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  height: 250px;
}
.text-center {
  text-align: center;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.space-edit {
  padding-left: 10px;
}
.space-delete {
  padding-left: 25px;
}
.add-genre {
  padding: 30px;
  margin-bottom: 10px;
  float: right;
}
.flex {
  display: flex;
}
.text-center {
  align-content: center;
}
.down {
  padding: 25px;
}
</style>
