<template>
  <div>
    <Button type="primary" icon="md-add" @click="openModal = true" long>Add</Button>
    <modal-component
      :title="title"
      @submitData="handleSubmit()"
      @closeModal="closeModal()"
      :isModalOpen="openModal"
    >
      <template v-slot:form>
        <Form ref="genre" :model="genre" :rules="ruleValidate">
          <FormItem label="Genre" prop="type">
            <Input
              v-model="genre.type"
              placeholder="Enter the type of genre"
              clearable
            ></Input>
          </FormItem>
        </Form>
      </template>
    </modal-component>
  </div>
</template>
<script>
import { GenreApiService } from "./apiService/ApiService";
import ModalComponent from "../../components/Modal";
let genreApiService = new GenreApiService();
export default {
  name: "GenreModal",
  data() {
    return {
      genre: {
        type: "",
      },
      title:'Add Genre',
      openModal: false,
      loading: true,
      isEdited: false,
      ruleValidate: {
        type: [
          {
            required: true,
            message: "The type cannot be empty",
            trigger: "blur",
          },
        ],
      },
    };
  },
  components: {
    "modal-component": ModalComponent,
  },
  props:["genreId"],
  watch: {
    async genreId(newId) {
      console.log(newId);
      if (newId) {
        this.title="Update Genre"
        await this.getById(newId);
      }
      else{
        this.title="Add Genre"
      }
    },
  },

  methods: {
    async addGenre() {
      let genre = await genreApiService.add(this.genre);
      console.log(genre);
      this.$emit("newGenre", genre);
    },
    async updateGenre(id, updatedGenre) {
      await genreApiService.update(id, updatedGenre);
      let genre=await genreApiService.getById(id);
      console.log(genre);
      this.$emit("updatedActor",genre);
    },
    async getById(newId) {
      let genre = await genreApiService.getById(newId);
      this.genre.type = genre.type;
      this.openModal = true;
    },
    closeModal() {
       this.$emit("removeId");
      this.openModal = false;
      this.$refs["genre"].resetFields();
    },
    // async updateGenre(){
    //    let genre=await genreApiService.update(this.$route.params.id,this.genre);
    // },
    handleSubmit() {
      let _this = this;
      this.$refs["genre"].validate(async (valid) => {
          if(valid)
          {
        if (this.genreId) {
          await _this.updateGenre(this.genreId, this.genre);
        }
          else{
              await _this.addGenre();
          }
          this.$refs["genre"].resetFields();
          this.openModal = false;
          this.$Message.success("Success!");
        }
        else{
          this.openModal = true;
          this.$Message.error("Fail!");
        }
      });
    },
  },
};
</script>
<style scoped>
.width {
  width: 10px;
}
</style>

