<template>
<Layout>
  <Content>
      <Row >
        <Col :sm="4" :md="4" :lg="4"></Col>
        <Col :xs="24" :sm="16" :md="16" :lg="16">
          <Card class="back-color">
            <h1 slot="title" class="text-center">{{ title }}</h1>
            <Form
              ref="movie"
              :model="movie"
              :rules="ruleValidate"
              :label-width="80"
            >
              <FormItem label="Name" prop="name">
                <Input
                  v-model="movie.name"
                  placeholder="Enter the name of the movie"
                  clearable
                ></Input>
              </FormItem>

              <FormItem required label="Year" prop="yearOfRelease">
                <Input
                  type="text"
                  v-model="movie.yearOfRelease"
                  placeholder="Enter the year of release"
                  number
                  clearable
                ></Input>
              </FormItem>

              <FormItem required label="Actors" prop="actors">
                <Row>
                  <Col :xs="18" :sm="17" :md="18" :lg="18">
                    <Select
                      v-model="movie.actors"
                      filterable
                      multiple
                      placeholder="Select actors"
                      v-if="actors.length != 0"
                    >
                      <Option
                        v-for="(actor, index) in actors"
                        :value="actor.id"
                        :key="index"
                        >{{ actor.name }}</Option
                      >
                    </Select>
                  </Col>
                  <Col :xs="1" :sm="1" :md="1" :lg="1"> </Col>
                  <Col :xs="7" :sm="6" :md="5" :lg="5">
                    <actor-modal @newActor="addNewActor($event)"></actor-modal>
                  </Col>
                </Row>
              </FormItem>

              <FormItem required label="Producer" prop="producer">
                <Row>
                  <Col :xs="18" :sm="17" :md="18" :lg="18">
                    <Select
                      v-model="movie.producer"
                      filterable
                      placeholder="Select producer"
                      v-if="producers.length != 0"
                    >
                      <Option
                        v-for="(producer, index) in producers"
                        :value="producer.id"
                        :key="index"
                        >{{ producer.name }}</Option
                      >
                    </Select>
                  </Col>
                  <Col :xs="1" :sm="1" :md="1" :lg="1"> </Col>
                  <Col :xs="7" :sm="6" :md="5" :lg="5">
                    <producer-modal
                      @newProducer="addNewProducer($event)"
                    ></producer-modal>
                  </Col>
                </Row>
              </FormItem>

              <FormItem required label="Genres" prop="genres">
                <Row>
                  <Col :xs="18" :sm="17" :md="18" :lg="18">
                    <Select
                      v-model="movie.genres"
                      filterable
                      multiple
                      placeholder="Select genre"
                      v-if="genres.length != 0"
                    >
                      <Option
                        v-for="(genre, index) in genres"
                        :value="genre.id"
                        :key="index"
                        >{{ genre.type }}</Option
                      >
                    </Select>
                  </Col>
                  <Col :xs="1" :sm="1" :md="1" :lg="1"> </Col>
                  <Col :xs="8" :sm="6" :md="5" :lg="5">
                    <genre-modal @newGenre="addNewGenre($event)"></genre-modal>
                  </Col>
                </Row>
              </FormItem>

              <FormItem label="Plot" prop="plot">
                <Input
                  v-model="movie.plot"
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 5 }"
                  placeholder="Enter the plot"
                  clearable
                ></Input>
              </FormItem>

              <FormItem label="Poster" prop="posterName">
                <label>
                  <input
                    v-show="false"
                    type="file"
                    name="file"
                    ref="fileInput"
                    @change="handleUpload"
                  />
                  <Button type="default" @click="$refs.fileInput.click()"
                    ><span>{{ imageButtonTitle }}</span></Button
                  >
                </label>
                <div id="preview">
                  <img
                    v-if="url"
                    :src="url"
                    width="200"
                    height="200"
                    class="button-gap"
                  />
                </div>
              </FormItem>

              <FormItem>
                <Button
                  type="success"
                  @click="handleSubmit('movie')"
                  :disabled="disable"
                  :loading="loading"
                  >Submit
                </Button>
              </FormItem>
            </Form>
          </Card>
        </Col>
        <Col :sm="4" :md="4" :lg="4"></Col>
      </Row>
      </Content>
      </Layout>
</template>
<script>
import { ActorApiService } from "../../actor/apiService/ApiService";
import { GenreApiService } from "../../genre/apiService/ApiService";
import { ProducerApiService } from "../../producer/apiService/ApiService";
import { MovieApiService } from "../apiService/ApiService";
import ActorModal from "../../actor/Main";
import ProducerModal from "../../producer/Main";
import GenreModal from "../../genre/Main";

const actorApiService = new ActorApiService();
const genreApiService = new GenreApiService();
const producerApiService = new ProducerApiService();
const movieApiService = new MovieApiService();
export default {
  name: "MovieForm",
  data() {
    const validateYearOfRelease = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Year Of Release cannot be empty"));
      }
      if (!Number.isInteger(value)) {
        callback(new Error("Please enter a numeric value"));
      } else {
        if (value >= 10000) {
          callback(new Error("Must be of 4 digits"));
        } else {
          callback();
        }
      }
    };

    const validatePoster = (rule, value, callback) => {
      if (!value) {
        return callback(new Error("Poster cannot be empty"));
      } else {
        callback();
      }
    };

    return {
      movies: [],
      movie: {
        name: "",
        yearOfRelease: "",
        actors: [],
        producer: "",
        genres: [],
        plot: "",
        poster: null,
        posterName: "",
      },
      file: false,
      url: null,
      imageButtonTitle: "Upload Image",
      disable: false,

      ruleValidate: {
        name: [
          {
            required: true,
            message: "The name cannot be empty",
            trigger: "blur",
          },
        ],
        yearOfRelease: [{ validator: validateYearOfRelease, trigger: "blur" }],
        plot: [
          {
            required: true,
            message: "Please enter the plot of the movie",
            trigger: "blur",
          },
          {
            type: "string",
            min: 1,
            message: "Introduce no less than 1 word",
            trigger: "blur",
          },
        ],
        posterName: [{ validator: validatePoster, trigger: "blur" }],
      },
      actors: [],
      producers: [],
      genres: [],
      isEdited: false,
      loading: false,
      title: "Add Movie",
    };
  },
  components: {
    ActorModal,
    ProducerModal,
    GenreModal,
  },
  methods: {
    handleSubmit(name) {
      let _this = this;
      this.$refs[name].validate((valid) => {
        this.loading = true;
        this.disable = true;
        if (valid) {
          _this.submitData();
          this.$Message.success("Success!");
        } else {
          this.$Message.error("Fail!");
        }
        this.loading = false;
        this.disable = false;
      });
    },
    async submitData() {
      let formData = new FormData();
      formData.append("name", this.movie.name);
      formData.append("yearOfRelease", this.movie.yearOfRelease);
      for (let i = 0; i < this.movie.actors.length; i++) {
        formData.append("actorIds[]", this.movie.actors[i]);
      }
      formData.append("producerId", this.movie.producer);
      for (let i = 0; i < this.movie.genres.length; i++) {
        formData.append("genreIds[]", this.movie.genres[i]);
      }
      formData.append("plot", this.movie.plot);
      formData.append("poster", this.movie.poster);

      console.log(this.isEdited);
      if (this.isEdited == false) {
        await movieApiService.add(formData);
        this.movies.push(formData);
        this.$router.push({ name: "Movies" });
      } else {
        await movieApiService.update(this.$route.params.id, formData);
        let movie = await movieApiService.getById(this.$route.params.id);

        if (movie) {
          (this.movie.name = movie.name),
            (this.movie.yearOfRelease = movie.yearOfRelease);
          this.movie.plot = movie.plot;
          this.movie.actors = movie.actors.map((x) => x.id);
          this.movie.producer = movie.producer.id;
          this.movie.genres = movie.genres.map((x) => x.id);
          this.movie.posterName = movie.poster;
          this.url = `https://localhost:5001/images/${movie.poster}`;
        }

        this.isEdited = false;
        this.$router.push({ name: "Movies" });
      }
    },
    addNewActor(data) {
      if (data) {
        this.actors.push(data);
        this.movie.actors.push(data.id);
      }
    },
    addNewProducer(data) {
      if (data) {
        this.producers.push(data);
        this.movie.producer = data.id;
      }
    },
    addNewGenre(data) {
      if (data) {
        this.genres.push(data);
        this.movie.genres.push(data.id);
      }
    },
    handleUpload(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (files.length) {
        this.movie.poster = files[0];
        this.movie.posterName = this.movie.poster.name;
        this.url = URL.createObjectURL(this.movie.poster);
      }
    },
  },
  async created() {
    try {
      let actors = await actorApiService.getAll();
      if (actors && Array.isArray(actors) && actors.length > 0) {
        this.actors = actors;
      }
    } catch {
      this.$message.error = "Failed to fetch actors";
    }
    try {
      let producers = await producerApiService.getAll();
      if (producers && Array.isArray(producers) && producers.length > 0) {
        this.producers = producers;
      }
    } catch {
      this.$message.error = "Failed to fetch producers";
    }
    try {
      let genres = await genreApiService.getAll();

      if (genres && Array.isArray(genres) && genres.length > 0) {
        this.genres = genres;
      }
    } catch {
      this.$message.error = "Failed to fetch genres";
    }
    try {
      let movies = await movieApiService.getAll();
      if (movies && Array.isArray(movies) && movies.length > 0) {
        this.movies = movies;
      }
    } catch {
      this.$message.error = "Failed to fetch movies";
    }

    if (
      this.$route.params &&
      this.$route.params.id &&
      this.$route.params.id > 0
    ) {
      this.title = "Update Movie";
      this.imageButtonTitle = "Update Image";
      this.isEdited = true;
      let movieId = this.$route.params.id;
      let movie = await movieApiService.getById(movieId);
      if (movie) {
        (this.movie.name = movie.name),
          (this.movie.yearOfRelease = movie.yearOfRelease);
        this.movie.plot = movie.plot;
        this.movie.actors = movie.actors.map((x) => x.id);
        this.movie.producer = movie.producer.id;
        this.movie.genres = movie.genres.map((x) => x.id);
        this.movie.posterName = movie.poster;
        this.url = `https://localhost:5001/images/${movie.poster}`;
      }
    }
  },
};
</script>

<style scoped>
.center {
  margin: auto;
  max-width: 450px;
  padding: 10px;
  background: #d3d3d3;
}
.text-center {
  text-align: center;
  font-weight: bold;
}
.back-color {
  background-color: #d3d3d3;
}
.red {
  background-color: red;
}
.increase-height {
  height: 60px;
}
.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.layout-footer-center {
  text-align: center;
}
.button-gap {
  margin-top: 5px;
}
.make-center
{
  display: flex;
  align-items: center;
  justify-content:center;
}
/* .form-container {
} */
</style>
