<template>
  <div>
    <Card class="card">
      <div slot="title">
        <Row>
          <Col :xs="4" :sm="4" :md="4" :lg="4">
           <Icon type="md-create" size="28" @click.native="edit()"></Icon>
           </Col> 
           <Col :xs="16" :sm="16" :md="16" :lg="16">
             <slot name="name"></slot>
           </Col> 
           <Col :xs="4" :sm="4" :md="4" :lg="4">
            <Icon type="ios-trash-outline" size="28" @click.native="remove()"></Icon>
           </Col>
           </Row>
      </div>
      <slot name="formdetails"></slot>

    </Card>
  </div>
</template>
<script>
export default {
  name: 'CardView',
  methods: {
    edit() {
      this.$emit("edit");
    },
    remove() {
      this.$emit("remove");
    },
  },
};
</script>
<style scoped>
.card {
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  height: 200px;
  background-color: #d3d3d3;
}
.center {
  text-align: center;
}
</style>
