<template>
<div>
  <Row>
    <Col :xs="24" :sm="24" :md="24" :lg="24">
  <Menu mode="horizontal" :theme="theme1" active-name="1">
    <img src="https://cdn.discordapp.com/attachments/809367720596471819/827176977265197056/imdblogo.png" class="image-fix">
    <div class="topnav-right">
    <MenuItem name="1" to="/"> Movies </MenuItem>
    <MenuItem name="2" to="/actors"> Actors </MenuItem>
    <MenuItem name="3" to="/producers"> Producers</MenuItem>
    <MenuItem name="4" to="/genres"> Genres </MenuItem>
    </div>
  </Menu>
  </Col>
  </Row>
  </div>
</template>
<script>
export default {
  name: "Header",
  data() {
    return {
      theme1: "dark",
    };
  },
};
</script>
<style scoped>

.topnav-right {
  float: right;
}
.image-fix
{
 height:50px;
 width:100px;
 margin-top:5px;
 margin-left:10px;
}

</style>
