<template>
  <div>
    <Modal v-model="isModalOpen" :title="title" :closable="false">
      <slot name="form"></slot>
      <template slot="footer">
        <Button @click="close" type="error" :disabled="disable">Cancel</Button>
        <Button @click="submit" type="success" :disabled="disable" :loading="loading">Save</Button>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  name: "ModalComponent",
  props: {
    title: {
      type: String,
      required: true,
    },
    isModalOpen: {
      type: Boolean,
      default: false,
    },
    loading:
    {
      type:Boolean
    },
    disable:
    {
      type:Boolean
    }
  },
  methods: {
    submit() {
      this.$emit("submitData");
    },
    close() {
      this.$emit("closeModal");
    },
  },
};
</script>
