<template>
  <div>
      <Row justify="end" align="middle">
        <Input prefix="ios-search"  placeholder="Search by name" style="width: auto" class="align-search" v-model="search" clearable />
        <Col>
          <Button
            type="primary"
            :size="buttonSize"
            @click="add()"
            class="add-movie"
            >Add Movie</Button
          ></Col>
      </Row>
      <Row class="flex">
        <Col
          :xs="24"
          :sm="12"
          :md="8"
          :lg="6"
          v-for="(movie, index) in movies"
          :key="index"
        >
          <Card class="card">
            <div class="profile-pic">
              <img
                :src="`https://localhost:5001/images/${movie.poster}`"
                class="responsive"
              />
              <div class="icons">
                <div class="circle-left-icon">
                  <Icon
                    class="icon"
                    type="md-create"
                    size="30"
                    @click.native="update(movie.id)"
                  ></Icon>
                </div>
                <div class="circle-right-icon">
                  <Icon
                    class="icon"
                    type="ios-trash-outline"
                    size="30"
                    @click.native="deleteMovie(movie.id)"
                  ></Icon>
                </div>
              </div>
            </div>
            <h3 slot="title" class="center">{{ movie.name }}</h3>
            <div class="bold">
              Producer: <span class="normal">{{ movie.producer.name }}</span>
            </div>
            <span class="bold">Actors:</span>
            <span
              class="center"
              v-for="(actor, actorIndex) in movie.actors"
              :key="actorIndex + 4000"
            >
              <span
                class="center"
                v-if="4000 + movie.actors.length - 1 === actorIndex + 4000"
              >
                {{ actor.name }}
              </span>
              <span class="center" v-else> {{ actor.name }} {{ "," }} </span>
            </span>

            <div>
              <span class="bold">Genres:</span>
              <span
                class="center"
                v-for="(genre, genreIndex) in movie.genres"
                :key="7000 + genreIndex"
              >
                <span
                  class="center"
                  v-if="7000 + movie.genres.length - 1 === genreIndex + 7000"
                >
                  {{ genre.type }}
                </span>
                <span class="center" v-else> {{ genre.type }} {{ "," }} </span>
              </span>
            </div>
          </Card>
        </Col>
      </Row>
      <Page
        :total="total"
        :current="page"
        :page-size="8"
        class="page-style"
        @on-change="changePage"
      />
    </div>
</template>

<script>
import { MovieApiService } from "./apiService/ApiService";
const movieApiService = new MovieApiService();

export default {
  name: "Movies",
  data() {
    return {
      movieList: [],
      buttonSize: "large",
      search: "",
      page: 1,
      pageSize: 8,
      total:0
    };
  },
  async created() {
    try {
      let movies = await movieApiService.getAll(this.page,this.pageSize);
      if (movies.items && Array.isArray(movies.items) && movies.items.length > 0) {
        this.movieList = movies.items;
        this.total=movies.totalCount;
      }
    } catch {
      this.$message.error = "Failed to fetch movies";
    }
  },
  computed: {
    movies() {
      return this.movieList.filter(
        (movie) =>
          movie.yearOfRelease == parseInt(this.search) ||
          movie.name.includes(this.search)
      );
    }
  },
  methods: {
    add() {
      this.$router.push({ name: "Add" });
    },
    update(id) {
      this.$router.push({ name: "Edit", params: { id: id } });
    },
    deleteMovie(id) {
      this.$Modal.confirm({
        title: "Delete",
        content: "<p>Are you sure you want to delete this movie?</p>",
        onOk: async () => {
          this.movieList.splice(this.movieList.findIndex((movie) => movie.id === id),1);
          await movieApiService.delete(id);
          this.$Message.info("Movie Successfully Deleted");
        },
      });
    },
    async changePage(p)
    {
      this.page=p;
      let movies=await movieApiService.getAll(p,this.pageSize);
      this.movieList=movies.items;
    }
  },
};
</script>
<style scoped>
.center {
  text-align: center;
}
.title-center {
  text-align: center;
  font-weight: bold;
}
.button-right {
  float: right;
}
.bold {
  font-weight: 600;
}
.normal {
  font-weight: normal;
}

.flex {
  display: flex;
}

.card {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  height: 480px;
  background-color: #d3d3d3;
}
.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}
.responsive {
  width: 100%;
  align-items: stretch;
  max-width: 400px;
  height: 300px;
}
.responsive:hover {
  opacity: 0.7;
}
.icons {
  display: none;
}
.responsive:hover + .icons,
.icons:hover {
  display: inline-block;
}

.circle-left-icon,
.circle-right-icon {
  border-radius: 50%;
  background: #3b444b;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
}
.circle-left-icon {
  left: 10px;
}
.circle-right-icon {
  right: 10px;
}
.add-movie {
  margin: 10px;
  margin-top:20px;
}
.profile-pic {
  position: relative;
  display: inline-block;
}
.center-page {
  margin: 0 auto;
}
.align-search
{
  margin-top:10px;
}
.page-style{
  text-align: center;
  padding:40px;
}
</style>
